@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Tiro Bangla", serif;
}

body {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header_con {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 80px; /* main body কে header থেকে দূরে রাখে */
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #4caf50;
  color: white;
  padding: 5xpx;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;

  justify-content: flex-start;
  align-items: center;
}
nav ul li {
  height: 50px; /* padding & margine diye o kaj kora jabe */
}
nav ul li a {
  height: 100%;
  padding: 0 30px;
  display: flex;
  text-decoration: none;
  align-items: center;
  color: white;
  font-family: poppins, sans-serif;
}
/* small screen responsive */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #333;
  color: white;
  padding: 20px;
  display: none; /* Initially hidden */
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: transform 0.3s ease;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
nav a:hover {
  background-color: #e16710;
}
nav a.active {
  background-color: #0d59f0;
}
/* nav li:first-child {
  margin-right: auto;
} */

footer {
  background-color: #333;
  color: white;

  text-align: center;
  padding: 10px 20px;

  bottom: 0;
  width: 100%;
  height: 100px;
  font-family: Tiro bangla;
}
footer p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}
footer a {
  
  color: #06fc37;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: large;
  height: auto;
}
main {
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 800px;
}

.bangla-text {
  font-family: "Tiro Bangla", serif;
  font-size: 24px;
  color: #333;
}
.bangla-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: rgb(2, 2, 2);
  font-size: 22px;
  font-weight: 700;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.card img {
  width: 100%;
  height: auto;
}
.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  font-family: "Tiro Bangla";
  font-size: 24px;
  color: #2714f9;
  font-weight: 700;

  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 100px;
}

.shake-text {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, -2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
.menu-icon {
  display: none;
}
@media (max-width: 768px) {
  .hideonMobile {
    display: none;
  }
  .menu-icon {
    display: block;
  }
  .wel {
    font-size: 20px;
  }
}

.export {
  color: red;
}
.reg {
  color: blue;
  font-weight: 700;
}
/* about css */
.bangla-text {
  text-decoration: none;
}
