@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap");

body {
  font-family: "Tiro Bangla", serif;
}

body {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #4caf50;
  color: white;
  padding: 15px 20px;
  text-align: center;
  position: sticky;
  z-index: 999;
  width: 100%;
  top: -10px;
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  font-family: Tiro bangla;

}
footer p {
  margin: 0;
  font-size: 14px;
  color: #fff;

}
footer a {
  color: #06fc37;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: large;
}
main {
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 800px;
}
nav {
  display: flex;
  justify-content: left;
  gap: 30px;
  margin-top: 10px;
  font-family: poppins, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
nav a:hover {
  background-color: #e16710;
}
nav a.active {
  background-color: #0d59f0;
}

.bangla-text {
  font-family: "Tiro Bangla", serif;
  font-size: 24px;
  color: #333;
}
.bangla-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.card img {
  width: 100%;
  height: auto;
}
.all-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  font-family: "Tiro Bangla";
  font-size: 24px;
  color: #2714f9;
    font-weight: 700;
  
  border-radius:20px ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}

    .shake-text {
      display: inline-block;
      font-size: 24px;
      font-weight: bold;
      animation: shake 0.5s infinite;
    }

    @keyframes shake {
      0% { transform: translate(0, 0); }
      20% { transform: translate(-2px, 2px); }
      40% { transform: translate(2px, -2px); }
      60% { transform: translate(-2px, 2px); }
      80% { transform: translate(2px, -2px); }
      100% { transform: translate(0, 0); }
    }


  

